.ripple__container {
    position: relative;
}

.ripple-pool {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ripple-effect {
    position: absolute;
    background-color: rgba(255, 255, 255, .75);
}

@media (prefers-color-scheme: dark) {
    .ripple-effect {
        position: absolute;
        background-color: rgba(255, 255, 255, .25);
    }
}

.ripple-effect--enter {
    scale: 0;
    opacity: 0;
}
.ripple-effect--enter-active {
    scale: 1;
    opacity: 1;
}

.ripple-effect--exit {
    scale: 1;
    opacity: 1;
    transition-timing-function: linear !important;
}
.ripple-effect--exit-active {
    scale: 1;
    opacity: 0;
    transition-timing-function: linear !important;
}