.sidebar-button {
    display: flex;
    min-height: 40px;
    width: 100%;
    transition: cubic-bezier(0,.8,.2,1) .5s;
}

.sidebar-button p {
    margin: auto 24px auto 16px;
    transform: translateX(0px);
    transition: cubic-bezier(0,.8,.2,1) .5s;
}

.sidebar-button:hover {
    background-color: var(--global-color-50);
}

.sidebar-button:active {
    background-color: var(--reverse-color-10);
}

.sidebar-button:hover p {
    transform: translateX(8px);
}

.sidebar-button-selected {
    display: flex;
    min-height: 40px;
    width: 100%;
    background-color: var(--global-color-50);
    transition: cubic-bezier(0,.8,.2,1) .5s;
}

.sidebar-button-selected p {
    margin: auto 24px auto 16px;
    transform: translateX(8px);
    transition: cubic-bezier(0,.8,.2,1) .5s;
}

.sidebar-button-selected:hover {
    background-color: var(--global-color-75);
}

.sidebar-button-selected:active {
    background-color: var(--reverse-color-10);
}

.sidebar-button-selected:hover p {
    transform: translateX(8px);
}

.sidebar {
    flex-shrink: 0;
    display: flex;
    padding-top: 48px;
    flex-direction: column;
    background-color: var(--global-color-75);
    backdrop-filter: var(--global-backdrop-filter);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .3);
    transition: .3s;
    min-width: 140px;
}