#actioncenter-background {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container #title {
    position: absolute;
    top: 72px;
    left: 40px;
    font-size: 24px;
}
#container #subtitle {
    position: absolute;
    top: 110px;
    left: 40px;
}

#container {
    display: flex;
    pointer-events: all;
    height: 100%;
    width: 100%;
    transition: .5s cubic-bezier(0,.75,.25,1);
    transform-origin: top;
}

#topbar {
    margin-top: 72px;
    height: 100px;
    width: 100px;
}

#sidebar-button-container {
    padding-left: 36px;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
}