#banner-container {
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 66px;
    padding-right: 30px;
}

.banner {
    display: flex;
    margin-bottom: 12px;
    box-shadow: var(--default-box-shadow);
    backdrop-filter: blur(10px);
    background-color: var(--default-ui-color);
    height: 72px;
    pointer-events: all;
}

.banner-actioncenter {
    display: flex;
    margin-bottom: 1px;
    background-color: var(--default-ui-color);
    height: 72px;
    pointer-events: all;
}

.banner:active {
    transform: scale(.9);
}