#sidebar {
    position: absolute;
    height: 100%;
    width: 160px;
    background-color: var(--default-ui-color);
    box-shadow: var(--default-box-shadow);
    backdrop-filter: blur(30px);
    transition: background-color .5s;
    pointer-events: all;
}

#sidebar-background {
    height: 100%;
    width: 100%;
}

#sidebar-container {
    display: flex;
    height: 100%;
    width: 100%;
}

@keyframes button-container-intro {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

#sidebar-button-container {
    transform: translateX(-10px);
    opacity: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
    animation: .5s cubic-bezier(0,0,0,1) .2s forwards button-container-intro;
}