#version-manifest {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.component-manifest_version {
    height: 56px;
    background-color: var(--default-ui-color);
    backdrop-filter: var(--default-ui-brightness);
}

.component-manifest_version img {
    height: 32px;
    margin: 12px;
}

.component-manifest_version .title_container {
    margin: auto;
    margin-left: 0px;
}

.component-manifest_version .subtitle {
    font-size: 12px;
    opacity: .8;
}

.component-manifest_version .bgcolor {
    height: 100%;
    width: 100%;
    display: flex;
    transition: .1s;
}

.component-manifest_version:hover .bgcolor {
    background-color: var(--default-hover-color);
}

.component-manifest_version:active .bgcolor {
    background-color: var(--default-activate-color);
}

#searchbox {
    height: 40px;
    width: 100%;
    margin-bottom: 18px;
    padding-top: 2px;
    padding-left: 40px;
    background-color: var(--default-ui-color);
    backdrop-filter: var(--default-ui-brightness);
    border: none;
    color: var(--default-font-color);
    font-size: 15px;
    transition: .5s;
}

#searchbox:focus {
    outline: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, .8);
}

#searchbox::placeholder {
    color: var(--default-font-color);
    text-shadow: 0px 1px 4px var(--default-ui-color);
    opacity: .5;
}

@media (prefers-color-scheme: dark) {
    #searchbox:focus {
        outline: none;
        background-color: rgba(0, 0, 0, .8);
    }
}

input::-webkit-search-cancel-button {
    display: none;
}