.button {
    position: relative;
    display: flex;
    min-height: 32px;
    min-width: 32px;
    outline: solid 1px;
    outline-color: var(--reverse-color-25);
    background-color: var(--global-color-50);
    transition-property: background-color, outline-color;
    transition: .5s;
}

.button:hover {
    background-color: var(--reverse-color-10) !important;
    transition: background-color .1s;
}

.text {
    position: relative;
    margin: 0px 12px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--global-text-color);
    text-shadow: var(--global-text-shadow);
    transition-property: color, text-shadow;
    transition-duration: .5s;
}