.selector {
    position: relative;
    min-height: 32px;
    min-width: 80px;
    display: flex;
    outline: solid 1px;
    outline-color: var(--reverse-color-25);
    background-color: var(--global-color-50);
    transition-property: background-color, outline-color;
    transition: .5s;
}

.selector:hover {
    background-color: var(--reverse-color-10);
    transition: background-color .1s;
}

.selector p {
    position: relative;
    font-size: 12px;
    margin: auto;
    margin-left: 12px;
}

.selector__arrow {
    width: 32px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.selector__arrow svg {
    color: var(--global-text-color);
    margin: auto;
    filter: var(--global-svg-shadow);
    transition: .5s;
}

.dropdown {
    position: absolute;
    outline: solid 1px;
    outline-color: var(--reverse-color-25);
    padding: 8px 0px;
    background-color: var(--global-color-50);
    backdrop-filter: blur(10px);
    pointer-events: all;
    box-shadow: var(--default-box-shadow);
    transition: .5s;
}

.dropdown--enter--upward {
    transform: translateY(8px);
    opacity: 0;
}

.dropdown--enter--downward {
    transform: translateY(-8px);
    opacity: 0;
}

.dropdown--enter-active {
    transform: translateY(0px);
    opacity: 1;
}

.dropdown--exit {
    transform: translateY(0px);
    opacity: 1;
}

.dropdown--exit-active--upward {
    transform: translateY(8px);
    opacity: 0;
}

.dropdown--exit-active--downward {
    transform: translateY(-8px);
    opacity: 0;
}

.dropdown__item {
    min-height: 32px;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 0px 12px;
    color: var(--global-text-color);
    text-shadow: var(--global-text-shadow);
    transition-property: color, text-shadow, background-color;
    transition-duration: .5s;
}

.dropdown__item:hover {
    background-color: var(--reverse-color-10);
    transition: background-color .1s;
}