#titlebar {
    height: 36px;
    width: 100%;
    background-color: var(--default-ui-color);
    backdrop-filter: blur(10px) brightness(115%);
    box-shadow: var(--default-box-shadow);
    display: flex;
    transition: background-color .5s, opacity .3s;
}

.titlebar-blur {
    pointer-events: none;
}

.button {
    overflow: hidden;
    background-color: transparent;
    transition: .5s;
}

.button svg {
    color: var(--default-font-color);
    transition: .5s;
}

.button:hover {
    background-color: var(--default-hover-color);
    transition: .1s;
}

.button:active {
    background-color: var(--default-activate-color);
    transition: .1s;
}

.button-close {
    overflow: hidden;
    background-color: transparent;
    transition: .5s;
}

.button-close svg {
    color: var(--default-font-color);
    transition: .5s;
}

.button-close:hover {
    background-color: rgba(255,0,0,.75);
    transition: 100ms;
    box-shadow: 0px 0px 12px red;
}

.button-close:active {
    background-color: rgba(255,0,0,1);
    transition: 100ms;
    box-shadow: 0px 0px 18px red;
}

.button-close:hover svg {
    color: white;
    transition: .1s;
}

.button-close:active svg {
    color: white;
    transition: .1s;
}