#menu {
    height: 100%;
    width: 180px;
    background-color: var(--default-ui-color);
    box-shadow: var(--default-box-shadow);
}

#menu-background {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    pointer-events: all;
}