:root {
    --default-ui-color: rgba(255, 255, 255, .5);
    --default-font-color: #080808;
    --default-ui-brightness: brightness(150%) contrast(75%) saturate(125%);
    --default-hover-color: rgba(0,0,0,.1);
    --default-activate-color: rgba(0,0,0,.2);
    

    --default-box-shadow: 0px 4px 20px rgba(0,0,0,.2), 0px 4px 36px rgba(0,0,0,.2);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: 'Segoe UI', 'Microsoft YaHei';
}

body, #root {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

p {
    margin: auto;
    color: var(--default-font-color);
    font-size: 15px;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 1), 0px 0px 8px rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --default-ui-color: rgba(0,0,0,.5);
        --default-font-color: #fff;
        --default-ui-brightness: brightness(75%);
        --default-hover-color: rgba(255,255,255,.1);
        --default-activate-color: rgba(255,255,255,.2);
    }
    p {
        margin: auto;
        color: var(--default-font-color);
        font-size: 15px;
        text-shadow: 0px 1px 3px var(--default-ui-color);
    }
}

::-webkit-scrollbar {
    display: none;
}

#page-container {
    position: absolute;
    width: 100%;
    animation: .5s cubic-bezier(0,.8,.2,1) intro;
    transition: .5s cubic-bezier(0,.8,.2,1);
}

#subpage {
    display: flex;
    flex-direction: column;
    animation: .5s cubic-bezier(0,.8,.2,1) forwards subpage-intro;
    padding: 36px;
}

#main-container {
    transition: .5s cubic-bezier(0,.8,.2,1);
}

#page-container {
    height: 100%;
    width: 100%;
}

#background-container {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
    transition: .5s cubic-bezier(0,.8,.2,1);
}

@keyframes intro {
    0% {
        transform: translateY(36px);
    }
    100% {
        transform: translateY(0px);
    }
}   

@keyframes subpage-intro {
    0% {
        transform: translateY(72px);
    }
    100% {
        transform: translateY(0px);
    }
}