:root {
    --default-ui-color: rgba(255, 255, 255, 0.75);
    --default-font-color: #080808;
    --default-ui-brightness: brightness(100%);
    --default-hover-color: rgba(0,0,0,.1);
    --default-activate-color: rgba(0,0,0,.2);

    --default-box-shadow: 0px 4px 20px rgba(0,0,0,.2), 0px 4px 36px rgba(0,0,0,.2);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: 'Segoe UI', 'Microsoft YaHei';
}

body, #root {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

p {
    margin: auto;
    color: var(--default-font-color);
    font-size: 15px;
    transition: color .3s;
    text-shadow: 0px 1px 4px var(--default-ui-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --default-ui-color: rgba(0,0,0,.75);
        --default-font-color: #fff;
        --default-hover-color: rgba(255,255,255,.1);
        --default-activate-color: rgba(255,255,255,.2);
    }
}

::-webkit-scrollbar {
    display: none;
}

#page-container {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: .5s cubic-bezier(0,.8,.2,1) forwards intro;
}

#subpage-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    animation: .5s cubic-bezier(0,.8,.2,1) forwards intro;
}

@keyframes intro {
    0% {
        transform: translateY(36px);
    }
    100% {
        transform: translateY(0px);
    }
}