#background {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    box-shadow: var(--default-box-shadow);
    backdrop-filter: blur(30px) var(--default-ui-brightness);
    display: flex;
}

#sidemenu {
    width: 180px;
    display: flex;
    padding-top: 48px;
    flex-direction: column;
    background-color: var(--default-ui-color);
}

.page {
    height: auto;
    width: 100%;
    padding: 72px 0px 36px 0px;
}

.component-manifest-version {
    height: 56px;
    margin: 0px 36px 1px 36px;
    background-color: var(--default-ui-color);
}

.component-manifest-version img {
    height: 32px;
    margin: 12px;
}

.component-manifest-version .title-container {
    margin: auto;
    margin-left: 0px;
}

.component-manifest-version .subtitle {
    font-size: 12px;
    opacity: .8;
}

.component-manifest-version .bgcolor {
    height: 100%;
    width: 100%;
    display: flex;
    transition: .1s;
}

.component-manifest-version:hover .bgcolor {
    background-color: var(--default-hover-color);
}

.component-manifest-version:active .bgcolor {
    background-color: var(--default-activate-color);
}

#version-manifest {
    width: 100%;
    height: 100%;
    padding: 72px 0px 36px 0px;
    overflow-y: scroll;
}

#version-manifest-toolbar {
    position: absolute;
    height: 72px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}