.list-item {
    display: flex;
    background-color: var(--global-color-50);
    backdrop-filter: var(--global-ui-filter);
    min-height: 56px;
    transition: .5s;
}

.list-item-clickable {
    display: flex;
    background-color: var(--global-color-50);
    backdrop-filter: var(--global-ui-filter);
    min-height: 56px;
    transition: .5s;
}

.list-item-clickable:hover {
    background-color: var(--global-color-75);
    transition: .1s;
}

.list-item-clickable:active {
    background-color: var(--global-color-25);
    transition: 0s;
}

.text-container {
    margin: auto 0px auto 0px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.primary-text {
    font-size: 14px;
    margin: 10px 10px 0px 12px;
}

.secondary-text {
    font-size: 12px;
    opacity: .75;
    margin: 0px 10px 10px 12px;
}