.list-item__container {
    position: relative;
    background-color: var(--global-color-50);
    backdrop-filter: var(--global-ui-filter);
    transition: .5s;
}

.list-item__container--clickable:hover {
    background-color: var(--global-color-25);
    backdrop-filter: brightness(100%) saturate(200%);
    transition: .1s;
}

.list-item {
    position: relative;
    min-height: 56px;
    display: flex;
}

.list-item__text-container {
    flex-grow: 1;
    margin: auto 2px auto 2px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.list-item__text-container__primary-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 10px 10px 0px 12px;
    color: var(--global-text-color);
    text-shadow: var(--global-text-shadow);
    transition-property: color, text-shadow;
    transition-duration: .5s;
}

.list-item__text-container__secondary-text {
    display: flex;
    align-items: center;
    font-size: 12px;
    opacity: .75;
    margin: 0px 10px 10px 12px;
    color: var(--global-text-color);
    text-shadow: var(--global-text-shadow);
    transition-property: color, text-shadow;
    transition-duration: .5s;
}