.list-item-container {
    position: relative;
    background-color: var(--global-color-50);
    backdrop-filter: var(--global-backdrop-filter);
    transition: .5s;
}

.list-item-container--clickable:hover {
    background-color: var(--global-color-25);
    backdrop-filter: brightness(100%) saturate(200%);
    transition: .1s;
}

.list-item {
    position: relative;
    min-height: 56px;
    display: flex;
}

.list-item__text-container {
    flex-grow: 1;
    margin: auto;
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.list-item__custom-prefix-container {
    margin: auto;
    margin-right: -4px;
    padding: 10px;
    padding-right: 0px;
}

.list-item__icon-container {
    margin: auto;
    margin-right: -4px;
    padding: 16px;
    padding-right: 0px;
}

.list-item__custom-suffix-container {
    margin: auto;
    padding: 12px;
    padding-left: 0px;
}