#background {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    box-shadow: var(--default-box-shadow);
    backdrop-filter: blur(20px) var(--default-ui-brightness);
    display: flex;
}

#sidemenu {
    height: 100%;
    width: 180px;
    display: flex;
    padding-top: 48px;
    flex-direction: column;
    background-color: var(--default-ui-color);
}

.sidemenu-button {
    height: 40px;
    width: 100%;
    transition: cubic-bezier(0,.8,.2,1) .5s;
}

.sidemenu-button p {
    margin: 10px 0px 0px 16px;
    transform: translateX(0px);
    transition: cubic-bezier(0,.8,.2,1) .5s;
}

.sidemenu-button:hover {
    background-color: var(--default-hover-color);
}

.sidemenu-button:hover p {
    margin: 10px 0px 0px 16px;
    transform: translateX(8px);
}

#page-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.page {
    height: auto;
    width: 100%;
    padding: 72px 0px 36px 0px;
}

.setting-component {
    height: 56px;
    width: auto;
    margin: 0px 36px 1px 36px;
    background-color: var(--default-ui-color);
}